.btn {
  &-icon {
    &-circle {
      width: 26px;
      height: 26px;
      font-size: 12px;
      border: 0;
      border-radius: 100%;
      color: $blue;
      background: rgba($blue, 0.2);
      transition: 0.3s;
      outline: none !important;
      &:hover {
        background: rgba($blue, 0.3);
      }
    }
  }
}

.backBtn {
  background: transparent !important;
  border: 0 !important;
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  i {
    margin-right: 6px;
  }
  &:hover,
  &:active,
  &:focus {
    background: transparent !important;
    outline: none !important;
    box-shadow: none !important;
    border: 0;
  }
}
.subBtn {
  background: rgba(59, 100, 239, 0.05) !important;
  max-width: 400px;
  margin: 0 auto 10px;
  padding: 0 30px 15px;
  text-align: right;
  border-radius: 0 0 6px 6px;
  button {
    width: 86px;
    height: 33px;
    text-transform: capitalize;
    font-weight: 600;
    border-radius: 30px;
    line-height: 0;
  }
}
.editBtn {
  background: transparent !important;
  border: 0 !important;
  &:focus,
  &:hover,
  &:active {
    border: 0 !important;
    box-shadow: none !important;
    outline: 0;
  }
}

.statusBtn {
  border-radius: 30px;
  width: 100px;
  box-shadow: none !important;
  padding: 5px 0;
  &.approved {
    background: #4dbd74;
    border: 1px solid #4dbd74;
    color: #fff;
  }
  &.rejected {
    background: #f86c6b;
    border: 1px solid #f86c6b;
    color: #fff;
  }
  &.cancelled {
    background: #f86c6b;
    border: 1px solid #f86c6b;
    color: #fff;
  }
  &.sent {
    border: 1px solid currentColor !important;
    background: transparent !important;
    color: #4dbd74 !important;
  }
}
.cancelRequest {
  border-radius: 30px;
  min-width: 130px;
  box-shadow: none !important;
  padding: 5px 10px;
  background: transparent !important;
  border: 1px solid #f86c6b !important;
  color: #f86c6b !important;
  white-space: nowrap;
}
.statusText {
  font-weight: 600;
  &.approved {
    color: green;
  }
  &.rejected {
    color: red;
  }
  &.cancelled {
    color: red;
  }
  &.sent {
    color: #4dbd74;
  }
}
.applyBtn {
  @media (max-width: $phone) {
    font-size: 12px;
    padding: 4px 7px;
  }
}
.logoutBtn {
  list-style: none;
  margin-bottom: 50px !important;
  @media (max-height: $phone) {
    margin-bottom: 30px !important;
  }
  a {
    color: rgba(255, 255, 255, 0.4);
    padding-left: 30px;
    padding-top: 16px;
    font-weight: 600;
  }
  svg {
    width: 20px;
    height: 20px;
    margin-right: 14px;
    fill: rgba(255, 255, 255, 0.4);
  }
}
.toggler {
  outline: 0 !important;
}
.sendBtn {
  button {
    min-width: 100px;
    margin-top: 10px;
  }
}
.dashSubBtn {
  button {
    min-width: 100px;
    width: 100%;
    height: 38px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
  }
}

.compileBtn {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent !important;
  padding: 0;
  border: 0 !important;
  font-size: 26px;
  box-shadow: none !important;
}
