.card {
  border-radius: 20px;
  &-header {
    background: #fff;
    color: rgba(#000, 0.8);
    &:first-child {
      border-radius: 20px 20px 0 0;
    }
    h3,
    h4,
    h5 {
      margin: 0;
      font-weight: 600;
    }
  }
  .card-header {
    position: relative;
    h5 {
      @media (max-width: $phone) {
        font-size: 15px;
      }
    }
    h4 {
      @media (max-width: $phone) {
        font-size: 17px;
      }
    }
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(#3b64ef, 0.6);
    border-radius: 30px;
  }

  ::-webkit-scrollbar {
    height: 6px; /* height of horizontal scrollbar ← You're missing this */
    width: 6px; /* width of vertical scrollbar */
    background: rgba(#3b64ef, 0.2);
  }

  ::selection {
    background-color: rgba(#3b64ef, 0.3);
  }
}

.salaryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: $small-mobo) {
    flex-direction: column;
  }
  h5 {
    @media (max-width: $small-mobo) {
      margin-bottom: 10px;
    }
  }
  .salaryButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $phone) {
      flex-direction: column;
    }
    button {
      white-space: nowrap;
      min-width: 135px;
      @media (max-width: $tablet) {
        font-size: 14px;
      }
      @media (max-width: $phone) {
        font-size: 12px;
      }
      img {
        @media (max-width: $phone) {
          width: 12px;
        }
      }
    }
  }
}

.notes {
  padding: 6px 15px;
  background: #fdecec;
  border: 1px solid rgba(255, 0, 0, 0.3);
  border-radius: 6px;
  font-size: 12px;
  span {
    color: #ff0000;
    font-style: italic;
    display: inline-block;
    @media (max-width: $desktop) {
      font-size: 12px;
    }
    @media (max-width: $phone) {
      font-size: 10px;
    }
  }
}
