// Here you can add other styles

.searchWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 371px;
}

.search {
  box-shadow: none;
  outline: 0;
  border: 1px solid #c8ced3;
  padding: 5px 12px 5px 45px;
  max-width: 350px;
  width: 100%;
  border-radius: 5px;
  background-image: url("../assets/image/icons/search.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 10px 6px;
  margin-bottom: 10px;
}
.pagination {
  justify-content: center;
}
.uploadWrapper {
  margin: 10px;
  .file-upload {
    i {
      font-size: 45px;
      color: #3b64ef;
      @media (max-width: $phone) {
        font-size: 35px;
      }
    }
    h5 {
      margin-top: 15px;
      margin-bottom: 20px;
      font-size: 15px;
      @media (max-width: $phone) {
        font-size: 13px;
        margin-top: 10px;
      }
    }
  }
  button {
    background: transparent;
    border-radius: 20px;
    padding: 4px 16px;
    color: #3b64ef;
    border: 2px solid #3b64ef;
    font-weight: 600;
    text-transform: uppercase;
    @media (max-width: $phone) {
      font-size: 12px;
    }

    &:hover,
    &:focus {
      border: 2px solid #3b64ef;
      background: #3b64ef;
      color: #fff;
    }

    &:disabled,
    &.disabled {
      cursor: not-allowed;
      color: #23282c;
      background-color: #c8ced3;
      border-color: #c8ced3;
    }
  }
  .file-details {
    margin-bottom: 20px;
    h4 {
      font-size: 15px;
      font-weight: 800;
      text-transform: uppercase;
    }
  }
  .file-format {
    color: #797c7e !important;
    border: 0 !important;
    background: transparent !important;
  }
}
.add-empBtn {
  button {
    padding: 5px 10px;
    font-weight: 800;
    @media (max-width: $phone) {
      font-size: 12px;
    }
  }
}
.employee-form {
  padding: 30px 20px;
  .form-group {
    margin: 0 25px 0 0;
  }

  .react-datepicker-wrapper {
    input {
      font-size: 14px;
      padding: 2px 8px;
      outline: none;
    }
  }
  .btn {
    font-weight: 600;
    padding: 4px 15px;
    text-transform: uppercase;
    font-size: 13px;
  }
}
.employee-filled-form {
  max-width: 800px;
  label {
    width: 120px;
  }
  .form-group {
    margin-bottom: 15px;
  }
}

.main-date {
  font-size: 18px;
  margin: 0;
  text-align: center;
  font-weight: 600;
}
.tableWrapper {
  .emp-details {
    .view-btn {
      background: transparent;
      border: 0;
      font-weight: 500;
      color: #3b64ef;
      padding: 0;
      outline: 0;
      text-decoration: underline;
    }
    th {
      &:first-child {
        z-index: 5 !important;
        background: #b8caf9;
      }
    }
    td,
    th {
      // @media (max-width: $largeDesktop) {
      font-size: 12px;
      // }
      &:last-child {
        padding: 0;
        position: sticky;
        top: 0;
        right: 0;
        background: #b8caf9;
        @media (max-width: $tablet) {
          position: relative;
        }
        span.static {
          // width: 123.33px;
          // @media (max-width: $largeDesktop) {
          width: 78px;
          // }
        }
      }
    }
    td,
    th {
      &:first-child {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 4;
        background: #b8caf9;
        @media (max-width: $tablet) {
          position: relative;
        }
        span.static {
          // width: 115.33px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #b8caf9;
          padding: 10px;
          &.empId {
            width: 80px;
            padding-left: 0;
            padding-right: 0;
          }
          &.empName {
            width: 126px;
            padding-left: 0;
            padding-right: 0;
          }
          // @media (max-width: $largeDesktop) {
          width: 100px;
          // }
        }
      }
    }
    th,
    td {
      &:last-child {
        span.static {
          display: flex;
          align-items: center;
          justify-content: center;
          background: #b8caf9;

          &.darkBlue {
            background: #a3bcfc;
          }
        }
      }
    }
    td {
      &:last-child {
        span.static {
          &.darkBlueAbsolute {
            background: #a3bcfc;
            &::before {
              content: "";
              position: absolute;
              top: 0;

              bottom: 0;
              width: 100px;
              background: #a3bcfc;
              z-index: -1;
              width: 123.33px;
              left: 123.33px;
              @media (max-width: $largeDesktop) {
                width: 100px;
                left: 100px;
              }
            }
          }
        }
      }
    }

    tbody {
      tr {
        &:last-child {
          z-index: 5 !important;
          td {
            position: sticky;
            bottom: 0;
            font-size: 13px;
            font-weight: 600;
            @media (max-width: $tablet) {
              position: relative;
            }
          }
          h5 {
            font-size: 15px;
            font-weight: 800;
          }
        }
      }
    }

    span.static {
      width: 110px;
      @media (max-width: $largeDesktop) {
        width: 80px;
      }
    }
  }
}

.total-value {
  label {
    font-weight: 800;
    color: #3b64ef;
    text-transform: uppercase;
  }
}

.employee-detailTable {
  .card-body {
    background: #1e40b5;
    color: #fff;
  }
  table {
    th,
    td {
      border-top: 0;
      @media (max-width: $phone) {
        font-size: 12px;
      }
      @media (max-width: $small-mobo) {
        position: relative !important;
      }
    }
    tr {
      &:nth-of-type(even) {
        background: #f5f7fe;
        td {
          background: #f5f7fe;
        }
      }
      th {
        background: #d7e0fc;
        text-transform: uppercase;
        width: 180px;
        position: sticky;
        left: 0;
      }
    }
  }
}
.dashHeader {
  position: relative;

  .dashboardEdit {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 16px;
    padding: 0;

    @media (max-width: $tablet) {
      font-size: 14px;
      right: -7px;
      width: 30px;
      height: 30px;
    }
  }
  .notes-hint {
    position: absolute;
    top: 0;
    left: 0;
    ul {
      list-style: none;
    }
    li {
      padding-left: 22px;
      text-align: left;
      margin-bottom: 5px;
      font-size: 11px;
      font-weight: 500;
      position: relative;
      span {
        width: 14px;
        height: 14px;
        position: absolute;
        left: 0;
        border-radius: 100%;
        top: 1px;
        &.green {
          background: green;
        }
        &.yellow {
          background: gold;
        }
        &.red {
          background: red;
        }
        &.orange {
          background: orange;
        }
      }
    }
  }
}

.bellBtn {
  position: relative;
  .count {
    font-size: 10px;
    padding: 2px;
    min-width: 15px;
    display: block;
    text-align: center;
    color: #fff;
    line-height: 1;
    background: $red;
    position: absolute;
    border-radius: 100%;
    top: -6px;
    left: 100%;
    margin-left: -7px;
  }
  .bellIcon {
    position: relative;
    &:hover {
      i {
        color: #3b64ef;
      }
    }
    i {
      font-size: 20px;
      color: #73818f;
    }
  }

  .dropdown-menu {
    position: fixed !important;
    transform: initial !important;
    top: 50px !important;
    right: 30px !important;
    left: initial !important;
    outline: none;
    z-index: 1000;
    background: #fff;
    width: 350px;
    max-width: calc(100vw - 75px);
    box-shadow: 0 0 5px 2px #ddd;
    border: 0;
    border-radius: 15px;
    .notificationHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
      letter-spacing: -1px;
      border-bottom: 1px solid #eae9e9;
    }
    ul {
      list-style: none;
      padding: 0;
      max-height: 430px;
      overflow-x: auto;

      li {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        border-bottom: 1px solid #eae9e9;
        cursor: pointer;
        &.current {
          background: #d7e0fc;
        }
        img {
          border-radius: 100%;
          margin-right: 20px;
          width: 40px;
        }
        p {
          font-size: 15px;
          @media (max-width: $phone) {
            font-size: 13px;
          }
          span {
            font-weight: 600;
          }
        }
      }
    }
    // &:before {
    //   position: absolute;
    //   z-index: 1;
    //   top: -7px;
    //   right: 101px;
    //   width: 0.9375rem;
    //   height: 0.9375rem;
    //   content: "";
    //   transform: translateX(-50%) rotate(45deg);
    //   color: #fff;
    //   background: #fff;
    //   box-shadow: -3px -2px 3px 1px rgba(0, 0, 0, 0.1);
    //   @media (max-width: $phone) {
    //     right: 22px;
    //   }
    // }
  }
  .dropdown {
    button {
      background: transparent !important;
      border: 0 !important;
      padding: 0;
      box-shadow: none !important;
    }
    &.show {
      .bellIcon {
        position: relative;
        &:after {
          position: absolute;
          z-index: 1;
          top: 100%;
          margin-top: 5px;
          left: 50%;
          width: 0.9375rem;
          height: 0.9375rem;
          content: "";
          transform: translateX(-50%) rotate(45deg);
          color: #fff;
          background: #fff;
          box-shadow: -3px -2px 3px 1px rgba(0, 0, 0, 0.1);
          z-index: 99999;
        }
      }
    }
  }
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #f2f2f2;
  }

  ::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
}
.updateIcon {
  margin-top: -4px;
}
