.error {
  font-size: 12px;
}
.form-control {
  color: #23282c;
  &:focus {
    color: #23282c;
  }
}
.datepickerdisableWeekend {
  .react-datepicker {
    &__week {
      position: relative;
      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 30px;
        cursor: not-allowed;
        z-index: 1;
      }
      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }
  }
}
.datePikkerIconWrapper {
  position: relative;
  background: #fff;
  border-radius: 0.25rem;
  &.noIcon {
    .react-datepicker-wrapper input {
      padding-left: 12px;
    }
  }
  .react-datepicker {
    &-wrapper {
      position: relative;
      z-index: 2;
      width: 100%;
      input {
        width: 100%;
        border: 1px solid #e4e7ea;
        border-radius: 0.25rem;
        height: calc(1.5em + 0.75rem + 2px);
        outline: none !important;
        padding-left: 40px;
        background: transparent;
        min-width: 130px;
      }
    }
  }
  .error {
    position: absolute;
    top: 100%;
    left: 0;
  }
  i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    z-index: 0;
  }
}
.react-datepicker {
  &__day--keyboard-selected {
    background-color: $blue;
    &:hover {
      background-color: darken($blue, 10%);
    }
  }
  &__tab-loop {
    .react-datepicker__day--in-range,
    .react-datepicker__day--selected {
      background-color: $blue;
    }
    .react-datepicker__day--in-selecting-range {
      background-color: rgba($blue, 0.5);
    }
  }
}
.date-pickers {
  display: flex;
  align-items: center;
  @media (max-width: $tablet) {
    flex-direction: column;
  }
  .form-group {
    .error {
      position: absolute;
      top: 100%;
      left: 0;
    }
  }
  .date-pickersInput {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $phone) {
      flex-direction: column;
      width: 100%;
    }
    .datePikkerIconWrapper,
    .left-icon {
      @media (max-width: $phone) {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
  .date-pickersButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $phone) {
      flex-direction: column;
      width: 100%;
    }
    button {
      @media (max-width: $phone) {
        width: 100%;
        margin-bottom: 5px;
      }
    }
  }
}

.form-group {
  position: relative;
  // .error {
  //   position: absolute;
  //   top: 100%;
  //   left: 0;
  // }
  &.left-icon {
    .form-control {
      padding-left: 40px;
      min-width: 130px;
    }
  }

  i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    z-index: 0;
  }
}
.form-control {
  box-shadow: none !important;
  &:focus {
    border-color: #e4e7ea;
  }
}
select {
  &.form-control {
    padding-left: 8px;
  }
}

.form-section {
  padding: 40px 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  .container {
    @media (max-width: $desktop) {
      max-width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
