.sk-circle-wrpper {
  position: absolute;
  right: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 999px;
  display: none;
  &.top {
    top: 100px;
    transform: translateX(-50%);
  }
}
.sk-circle {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
  .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    &:before {
      display: block;
      border-radius: 100%;
      content: "";
      background-color: #333;
      margin: 0 auto;
      width: 15%;
      height: 15%;
      animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    }
  }
  .sk-circle2 {
    transform: rotate(30deg);
    &:before {
      animation-delay: -1.1s;
    }
  }
  .sk-circle3 {
    transform: rotate(60deg);
    &:before {
      animation-delay: -1s;
    }
  }
  .sk-circle4 {
    transform: rotate(90deg);
    &:before {
      animation-delay: -0.9s;
    }
  }
  .sk-circle5 {
    transform: rotate(120deg);
    &:before {
      animation-delay: -0.8s;
    }
  }
  .sk-circle6 {
    transform: rotate(150deg);
    &:before {
      animation-delay: -0.7s;
    }
  }
  .sk-circle7 {
    transform: rotate(180deg);
    &:before {
      animation-delay: -0.6s;
    }
  }
  .sk-circle8 {
    transform: rotate(210deg);
    &:before {
      animation-delay: -0.5s;
    }
  }
  .sk-circle9 {
    transform: rotate(240deg);
    &:before {
      animation-delay: -0.4s;
    }
  }
  .sk-circle10 {
    transform: rotate(270deg);
    &:before {
      animation-delay: -0.3s;
    }
  }
  .sk-circle11 {
    transform: rotate(300deg);
    &:before {
      animation-delay: -0.2s;
    }
  }
  .sk-circle12 {
    transform: rotate(330deg);
    &:before {
      animation-delay: -0.1s;
    }
  }
}
@keyframes sk-circleBounceDelay {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.f-w-loader {
  position: relative;
  &.loader {
    .sk-circle-wrpper {
      z-index: 1;
      display: block;
    }
    form,
    .loader-content-wrapper {
      filter: blur(2px);
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(#ffffff, 0.5);
        z-index: 1;
      }
    }
    .table,
    .loader-content-wrapper {
      filter: blur(2px);
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(#ffffff, 0.5);
        z-index: 1;
      }
    }
    .sk-circle {
      z-index: 3;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
    }
  }
  // &.loader {
  //   .card,
  //   .card-header,
  //   .modal-wrap {
  //     -webkit-filter: blur(2px);
  //     filter: blur(2px);
  //   }
  //   &.card-body {
  //     -webkit-filter: blur(2px);
  //     filter: blur(2px);
  //   }
  // }
  &.loader {
    .card-header {
      -webkit-filter: blur(2px);
      filter: blur(2px);
    }
  }
}
