.login-wrapper {
  box-shadow: 0 0 10px 0px #888888;
  // height: 70vh;

  .card-body {
    padding: 35px;
    @media (max-width: $tablet) {
      padding: 24px;
    }
  }
  .login-form {
    @media (min-width: $tablet) {
      width: 100%;
      max-width: 350px;
    }
    h1 {
      // font-weight: bold;
      // color: #4d44a7;
      color: #47bbe4;
      font-size: 60px;
      @media (max-width: $tablet) {
        font-size: 40px;
      }
    }
    p {
      font-size: 30px;
      font-weight: 500;
      color: #4d4d4d !important;
      margin-bottom: 40px;
      @media (max-width: $tablet) {
        font-size: 24px;
        margin-bottom: 20px;
      }
    }
    .error {
      font-size: 12px;
    }
    .input-group {
      .input-group-prepend {
        .input-group-text {
          background-color: #fff;
          width: 50px;
          text-align: center;
          display: inline-block;
          line-height: 35px;
          .icon-user {
            &::before {
              color: #fff;
              font-size: 18px;
            }
          }
          .icon-lock {
            &::before {
              color: #fff;
              font-size: 18px;
            }
          }
        }
      }
      .inputWrapper {
        flex: 0 0 calc(100% - 50px);
        max-width: calc(100% - 50px);
      }
      input {
        width: 100%;
        height: 50px;
        color: #4d44a7 !important;
        font-size: 18px;
        box-shadow: inset 0 0 10px 25px #fff !important;
        -webkit-box-shadow: inset 0 0 10px 25px #fff !important;
        -moz-box-shadow: inset 0 0 10px 25px #fff !important;
      }
    }
    .row {
      .theme-bg {
        // background-color: #4d44a7;
        background-image: linear-gradient(45deg, #06c4de, #07a8dd);
      }
      .login-btn {
        color: #fff;
        box-shadow: 0 0 8px 0px #4d44a7;
        height: 45px;
        width: 140px;
        border: none;
        font-size: 16px;
      }
      .btn-link {
        // color: #4d44a7;
        color: #47bbe4;
        font-size: 16px;
      }
    }
  }
  .login-pic {
    background-image: url(../assets/image/signUpBanner1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
    width: 100%;
  }
}
