.modal {
  ::-webkit-scrollbar-thumb {
    background: rgba(#3b64ef, 0.6);
    border-radius: 30px;
  }

  ::-webkit-scrollbar {
    height: 6px; /* height of horizontal scrollbar ← You're missing this */
    width: 6px; /* width of vertical scrollbar */
    background: rgba(#3b64ef, 0.2);
  }

  ::selection {
    background-color: rgba(#3b64ef, 0.3);
  }
}

.leaveModal {
  max-width: 580px;
  .modal-header {
    padding: 10px 15px;
    background: #3b64ef;
    color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    box-shadow: none;
    border-radius: 20px 20px 0 0;
    position: relative;

    .close {
      font-size: 28px;
      opacity: 1;
      outline: none;
      position: absolute;
      right: 40px;
      top: 50%;
      padding: 0;
      text-shadow: none;
      color: #fff;
    }

    .modal-title {
      color: #fff;
      font-weight: 800;
      font-size: 18px;
    }
  }

  .modal-content {
    border-radius: 20px;
    box-shadow: none;
    border: 0;
  }
  .modal-body {
    padding: 30px;
    font-weight: 500;
  }

  .apply-leaveBtn {
    button {
      min-width: 100px;
      width: 100%;
      height: 40px;
      border-radius: 30px;
      font-weight: 500;
      font-size: 16px;
    }
    .cancelBtn {
      background: transparent;
      border-color: #1848ec;
      color: #1848ec;
    }
  }
  .date {
    input {
      height: 35px;
      width: 100%;
      border-radius: 4px;
      padding: 0 10px;
      border: 1px solid #e4e7ea;
    }
  }
  label {
    font-size: 15px;
    font-weight: 800;
  }
}
.rejectedModal {
  b {
    font-size: 18px;
  }
  label {
    font-size: 16px;
    font-weight: 500;
  }
}
.employees-detailsModal {
  .modal-header {
    .modal-title {
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
.rejectedBtn {
  text-align: center;
  button {
    min-width: 83px;
    width: 100%;
    height: 43px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 18px;
  }

  .cancelBtn {
    background: transparent;
    border-color: #1848ec;
    color: #1848ec;
  }
}
.deleteBtn {
  button {
    min-width: 83px;
    margin-left: 10px;
    font-size: 12px;
    padding: 8px 10px;
  }
}
.month-picker-modal {
  .modal-content {
    max-width: 400px;
    margin: 0 auto;
    border-radius: 10px;
  }
}
.forgot-modal {
  max-width: 560px;
  h5 {
    color: #000;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto 20px;
  }
  .modal-content {
    border-radius: 15px;
  }
  .modal-body {
    padding: 40px;
    font-weight: 500;
    position: relative;
    .crossBtn {
      position: absolute;
      right: 30px;
      top: 18px;
      font-size: 20px;
      cursor: pointer;
    }
  }
}
.compiledSalary {
  table {
    margin-bottom: 0;
  }
  .table-responsive {
    max-height: 500px;
  }
  tr {
    &:last-child {
      td {
        position: sticky;
        bottom: 0;
        z-index: 999;
        background: #d7e0fc !important;
        font-weight: 800;
        font-size: 16px;
      }
    }
  }
}
