.month-year-picker {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  max-width: 400px;
  width: auto !important;
  // .wrapper {
  //   position: sticky;
  //   top: 47px;
  // }
  .caption {
    padding: 15px 20px 10px !important;
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    background: rgb(59, 100, 239);
    color: #ffff;
    border-radius: 6px 6px 0 0;
    margin-bottom: 0 !important;
  }
  .year-picker {
    // background-color: rgba(59, 100, 239, 0.05);
    // border-radius: 6px 6px 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0 !important;
    padding: 5px 20px 10px;
    padding-top: 0 !important;
    background: rgb(59, 100, 239);
    color: #fff;
    span {
      text-align: left !important;
      font-weight: 800;
      color: #fff !important;
      font-size: 20px !important;
    }

    .controls {
      top: -7px !important;
      .fa {
        font-size: 13px !important;
        outline: none;
        &.disabled {
        }
      }
    }
  }
  .month-picker {
    border-radius: 0 0 6px 6px;
    background: rgba(59, 100, 239, 0.05) !important;
    padding: 5px 0;
    > div {
      display: flex !important;
      > div {
        flex-grow: 1;
        margin: 0px !important;
        color: rgba(0, 0, 0, 0.8) !important;
        background-color: transparent !important;
        outline: 0 !important;
        height: 65px !important;
        span {
          width: 50px;
          height: 50px;
          font-size: 14px !important;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &.selected {
          span {
            background-color: lighten($blue, 10%) !important;
            color: #fff !important;
            border-radius: 100%;
          }
        }
      }
    }
  }
}
.btnDate-picker {
  min-width: 150px;
  font-weight: 600;
  @media (max-width: $tablet) {
    min-width: 130px;
  }
  @media (max-width: $phone) {
    min-width: 110px;
    font-size: 12px;
  }
}
.picker-title {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 800;
  margin-bottom: 13px;
  @media (max-width: $tablet) {
    font-size: 16px;
  }
  @media (max-width: $phone) {
    font-size: 12px;
  }
}
