.sidebar {
  // background: #fff;
  background: darken($blue, 30%);
  .dayTime {
    color: rgba(#fff, 0.6);
    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      text-align: center;
      margin-bottom: 0;
      font-style: italic;
      font-weight: 700;
    }
    .userImg {
      img {
        width: 35px;
        border-radius: 100%;
      }
    }
  }
  // .sidebar-nav {
  //   // padding-top: 50px;
  // }
  .nav-link {
    // color: rgba(#000, 0.4);
    color: rgba(#fff, 0.4);
    padding-left: 40px;
    padding-top: 16px;
    padding-bottom: 16px;
    font: {
      weight: 600;
    }
    position: relative;
    display: flex;
    align-items: center;
    svg {
      width: 20px;
      height: 20px;
      margin-right: 14px;
      // fill: rgba(#000, 0.4);
      fill: rgba(#fff, 0.4);
    }
    i {
      display: none !important;
      // opacity: 0.4;
      // background-size: 100%;
      // width: 1em !important;
      // height: 1em;
      // font-size: 14px;
    }

    &:hover,
    &.active {
      // color: rgba(#000, 0.8);
      // background: #fff;
      color: rgba(#fff, 0.8);
      background: rgba(#fff, 0.2);

      &::before {
        content: "";
        width: 2px;
        height: 20px;
        // background: $blue;
        background: #fff;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      svg {
        // fill: $blue;
        fill: #fff;
        .hover-white {
          fill: #fff;
        }
      }
      // i {
      //   opacity: 1;
      // }
    }
  }
  .nav-item {
    &:not(:last-child) {
      margin: {
        bottom: 1px;
      }
    }
    &.logout {
      .nav-link {
        &:not(:hover) {
          color: rgba(#000, 0.4);
          svg {
            fill: rgba(#000, 0.4);
          }
          &::before {
            display: none;
          }
        }
      }
    }

    // &.employees {
    //   i {
    //     background: {
    //       image: url("../assets/image/icons/employee.svg");
    //     }
    //   }
    // }
    // &.setting {
    //   i {
    //     background: {
    //       image: url("../assets/image/icons/settings.svg");
    //     }
    //   }
    // }
    // &.holidays {
    //   i {
    //     background: {
    //       image: url("../assets/image/icons/holidays.svg");
    //     }
    //   }
    // }
    // &.dashboard {
    //   i {
    //     background: {
    //       image: url("../assets/image/icons/dashboard.svg");
    //     }
    //   }
    // }
    // &.leaves {
    //      i {
    //      background: {
    //          image: url("../assets/image/icons/leaves.svg");
    //      }
  }
}

.logoutIcon {
  .nav-link {
    line-height: 1;
    font-weight: 600;
    &:hover {
      color: #3b64ef;
      svg {
        fill: #3b64ef;
      }
    }
  }
  svg {
    margin-top: -4px;
    margin-right: 4px;
  }
}
