.tableWrapper {
  position: relative;
  min-height: 121px;
  padding-bottom: 15px;
  &.isAdmin {
    min-height: 200px;
  }
  // overflow: auto;
  .table-responsive {
    th {
      position: sticky;
      top: 0;
      z-index: 3;
      vertical-align: middle;
    }
  }
  &.leave {
    .table-responsive {
      max-height: calc(100vh - 182px);
    }
    table {
      tr {
        th:nth-child(6),
        td:nth-child(6) {
          min-width: 330px;
        }
        td:nth-child(6) {
          p {
            display: -webkit-box;
            max-width: 200px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 63px;
            line-height: 1.7;
          }
        }
      }
    }
  }
  &.employee {
    .table-responsive {
      max-height: calc(100vh - 522px);
      @media (max-height: $tablet) {
        max-height: calc(100vh - 275px);
      }
      th,
      td {
        &:last-child() {
          min-width: 150px;
        }
      }
    }
  }
  &.salary {
    .table-responsive {
      max-height: calc(100vh - 155px);
    }
  }
  &.holidays {
    .table-responsive {
      max-height: calc(100vh - 310px);
    }
  }
  &.dashboard {
    .table-responsive {
      max-height: calc(100vh - 273px);
    }
  }
}

.table {
  position: relative;

  th,
  td {
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;
  }
  td {
    font-weight: 500;
  }
  &-striped {
    thead {
      tr {
        th {
          background: #d7e0fc;
          border: 0;
        }
      }
    }
    tbody {
      tr {
        &:nth-of-type(odd) {
          background: #fff;
          td {
            background: #fff;
          }
        }
        &:nth-of-type(even) {
          background: #f5f7fe;
          td {
            background: #f5f7fe;
          }
        }
        &.selected {
          td {
            background: rgba($blue, 0.8);
            color: #fff;
          }
        }
        td {
          border: 0;
          &.highlighted {
            // background: rgba($blue, 0.1);
            background: #fdecec;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
          }
        }
      }
    }
  }
}
.no-records {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  h5 {
    @media (max-width: $phone) {
      font-size: 14px;
    }
  }
}
