// Variable overrides

$blue: #3b64ef !default;
// $indigo:  #6610f2 !default;
// $purple:  #6f42c1 !default;
// $pink:    #e83e8c !default;
$red: #ec3138 !default;
// $orange:  #fd7e14 !default;
// $yellow:  #ffc107 !default;
// $green:   #28a745 !default;
// $teal:    #20c997 !default;
// $cyan:    #17a2b8 !default;

$largeDesktop: 1200.98px;
$desktop: 991.98px;
$tablet: 767.98px;
$phone: 575.98px;
$small-mobo: 480px;

$sidebar-width: 230px;
