// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui.scss";

// Temp fix for reactstrap
@import "~@coreui/coreui/scss/_dropdown-menu-right.scss";

// If you want to add something do it here
@import "custom";
@import "./loader";
@import "./login";
@import "./form";
@import "./sidebar";
@import "./button";
@import "./table";
@import "./card";
@import "./modal";
@import "./monthYearPicker";

// ie fixes
@import "ie-fix";

body {
  margin: 0;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f6f6f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cursor-notAllowed {
  cursor: not-allowed !important;
}
